
<div class="w-full h-screen bg-gray-100 pt-8">
  <div class="bg-white p-3 max-w-lg mx-auto">
    <div class="text-center">
      <h1 class="text-3xl font-bold">ToDo App</h1>
      <digi-todo-add></digi-todo-add>
    </div>
    <div class="mt-8">
      @if (hasTodosCompleted()){
      <button (click)="onToggleShowCompletedTodos()" class="underline-offset-1 p-2 text-blue-500">
        {{ showCompletedTodos ? 'Show All Tasks' : 'Show Completed Tasks' }}
      </button>
      }
      <ul>

<!--        @for (todo of (showCompletedTodos ? completedTodos$ : todos$) | async;track todos$ ){-->
<!--          <li class="p-2 rounded-lg">-->
<!--            <digi-todo-item [todo]="todo" (toggleCompletion) = "onToggleTodoCompletion($event)" (remove)="onRemoveTodo($event)"></digi-todo-item>-->
<!--          </li>-->
<!--        }-->



        @for (todo of (showCompletedTodos ? completedTodos$ : todos$) | async; track trackByTodoId ){
          <li class="p-2 rounded-lg">
            <digi-todo-item [todo]="todo" (toggleCompletion) = "onToggleTodoCompletion($event)" (remove)="onRemoveTodo($event)"></digi-todo-item>
          </li>
        }
      </ul>
    </div>
    <div class="mt-8">
      @if (hasTodosCompleted()){
      <button (click)="onClearCompletedTodos()"
        class="border-2 border-red-500 p-2 text-red-500"
      >Clear Completed Task</button>
      }
      @if (hasTodos()){
      <button (click)="onResetTodos()"
        class="border-2 border-indigo-500 p-2 text-indigo-500 ml-4"
      >Reset Todo List</button>
      }
    </div>
  </div>
</div>
